[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "third_party/ARA_SDK"]
	path = third_party/ARA_SDK
	url = https://github.com/Celemony/ARA_SDK
